body{
    background-color: gray;
}
.titular{
    font-family: Arial, Helvetica, sans-serif;
    color:lightslategrey;
    font-size: 20px; 
}
#menu{
    display: inline;
    color: khaki;
    background-color: slategray;
}
#titular3{
    color:gray;
}
li{
    display: inline;
    margin-left: 15px;
    color:black;
}

a{
    color: black;
}

.borde{
    border: 5px solid gray; 
}
h1{color:black;}
#relativa{
    position: relative;
    right: 60 px;
}

#foto_arriba{
    position:fixed;
    top: 10px;
    right: 10px;
    width: 100px;
}

.header{
    position:sticky;
    top: 0;
}
/*para hacer margenes*/
#caja1{
    border: 1px solid rosybrown;
    background-color: rosybrown;
    margin-top: 50px;
    padding-top: 5px;
}

/*tamaño imagen*/
#imag{
    width: 100%;
}

.span{
    border: 1px ;
    display: block;
}

#parteArriba{
    background-color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
}
ul{
    left: 90px;
}